<%= form_for(@project, :remote => true, :html => {:class => 'well'}) do |f|%>
  <div class="field">
    <%= f.label "Create a new project:" %>
    <%= f.text_field :name %>
    <%= f.label "Do you want this project to be public or private?" %>
    <%= f.select(:private, [['Private', 'true'], ['Public', 'false']])%>
  </div>

  <div class="actions">
    <%= f.submit "Save project", :class=>"btn btn-primary btn-large" %>
  </div>
<% end %>
